<div class="container-fluid" style="margin-top:20px;">    
  <div class="row content">
    <div class="col-sm-4">
         
             <ul style="list-style-type: none; text-align: left;">
             <h5>Help</h5>
                 <li><a href=#>Payments</a></li>
                 <li><a href=#>Shipping</a></li>
                 <li><a href=#>Cancellation & Returns</a></li> 
                 <li><a href=#>FAQ</a></li>
                 <li><a href=#>Report Infrigement</a></li>
             </ul>
     </div>
    <div class="col-sm-4"> 
         
             <ul style="list-style-type: none; text-align: left;">
             <h5>FLIPKART</h5>
                 <li><a href=#>Contact Us</a></li>
                 <li><a href=#>About Us</a></li>
                 <li><a href=#>Careers</a></li>
                 <li><a href=#>Flipkart Stories</a></li>
                 <li><a href=#>Press</a></li>
             </ul>
     </div>
    <div class="col-sm-4">
         
             <ul style="list-style-type: none; text-align: left;" >
             <h5>MISC</h5>
                 <li><a href=#>Online Shopping</a></li>
                 <li><a href=#>Affliate Program</a></li>
                 <li><a href=#>Gift Card</a> </li>
                 <li><a href=#>Flipkart First Subscription</a></li>
                 <li><a href=#>Sitemap</a></li>
             </ul>
     </div>
  </div>
 </div>
 